/*
**main css**
**/

/**Header - Nav menu**/
#header .nav-menu{
	position: relative;;
	border-bottom: 1px solid #dbdbdb;
	overflow: hidden;
	background: #176A63;

}
#header .nav-menu ul{
}
#header .nav-menu ul li{
	display: inline-flex;
	justify-content: space-between;
	flex-wrap: nowrap;

}
#header .nav-menu ul li a{
	text-decoration: none;
	color:  yellow;
	padding: 40px;
	font-weight: bold;
    font-size: 18pt;	
}

/**Header - Nav menu left**/

#header .nav-menu .nav-left{
	float: left;
}
/**Header - Nav menu right**/
#header .nav-menu .nav-right{
	float: right;
}
/**Header - Nav menu logo-text**/
#header .nav-menu .logo-text{
    position: absolute;
    top: 5px;
    left: 50%;
    width: 96px;
    height: 96px;
    border-radius: 50%;
    background: #aaea9e;
    box-shadow: 1px 1px 9px 4px #33ff00;
}
#header .nav-menu .logo-text a{
	position: absolute;
    top: 32px;
    left: 17%;
    background-image: linear-gradient(45deg, #b92fbf 0%, #25986a 52%, #bd6d09 90%);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 23pt;
    font-weight: bold;
}

/**Header - slide header**/
#header div.header-content{
	position: relative;
	max-width: 95%;
	margin:  10px auto;
}
#header .header-content .h-slide{
	float: left;
	max-width: 62%;
}
#header .header-content .h-slide .hsl-items{
	position: absolute;
	top: 0;
	width: 60%;
}
#header .header-content .h-slide .hsl-items a{
	position: relative;
	text-decoration: none;
}
#header .header-content .h-slide .hsl-items a p.acc-id{
	position: absolute;
	top: 0;
}
#header .header-content .h-slide .hsl-items a h3{
	position: absolute;
	top:  90%;
	color:  #fff;
	font-weight: bold;
	font-size: 18px;
	padding-left: 5px;
}
#header .header-content .h-slide  .hsl-items a img{
	width: 100%;
	height: 340px;
}
/**Header - Notify header**/
#header .h-notify{
	background: #dbdbdb;
	border:  1px solid #dbdbdb;
	width: 39%;
	float: right;
}
#header .h-notify h3{
	background: #333;
	color:  #f1f1f1;
	padding: 8px;

}
#header .h-notify .hn-items {
	border: 1px solid gray;
	margin:  5px;
	height: 293px;
    overflow: hidden;
}
#header .h-notify .hn-items p{
	border-bottom: 1px solid gray;
	padding: 5px;
}
#header .h-notify .hn-items p span.hn-money{
	color:  green;
	font-weight: bold;
}
#header .h-notify .hn-items p:last-child{
	border-bottom-style: none;
	
}
/**Main  -  sp-contain**/
#main .box-main{
	width: 90%;
	margin: 0px auto;
	
}
#main .box-main h3{
	padding: 8px;
	color: #333;
}
#main .box-main  .box-contain{
	display: flex;	
	flex-wrap: wrap;
	justify-content: space-between;
	

}
#main .box-main  .box-contain .box-shop{
	
	padding: 5px;
	width: 400px;
	height: 380px;
	border: 1px solid #dbdbdb;
	margin-top: 10px;

}
#main .box-main  .box-contain .box-shop a {
	text-decoration: none;
	color: #333;
}
#main .box-main  .box-contain .box-shop a h3{
	
	text-align: center;
}

#main .box-main  .box-contain  .box-shop a img{
	width: 100%;
	height: 248px;
}
#main .box-main  .box-contain .box-shop a .product-meta{
	width: 55%;
	margin: 5px auto;
}
#main .box-main  .box-contain .box-shop a .product-meta p{
	line-height: 1.1em;
}
#main .box-main  .box-contain .box-shop a .product-meta button{
	border: 2px solid #333;
	background: #f1f1f1;
	padding: 8px;
	margin-top: 10px;
	width: 95%;
	font-size: 16px;
}
/**footer**/
#footer .f-top{
	padding: 8px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
#footer .f-top li{
	list-style: none;
	margin-top:  5px;
}
#footer .f-top li a{
	text-decoration: none;
	color:  #fff;
	font-size:  14px;
}
#footer .f-bottom{
	background:  #176A63;
}
#footer .f-bottom p{
	color:  yellow;
	text-align: center;
	padding: 8px;	
}