
*{
	padding: 0px;
	margin: 0px;
}
#main{
	width: 95%;
	margin: 0px auto;
}
/**Bài tập 01**/
#main div.sub-box{
	display: inline-flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	color:  #fff;
	padding: 20px;
	width:  131px;
	text-align: center;
}
#main div.lacay{
	background: #16702e;
}
#main div.maunaucam{
	background: #974e06;
}
#main div.mautim{
	background: #5c0a6b;
}
#main div.mauxam{
	background: #00345d;
}
#main div.maudo{
	background: #99272e;
}
#main div.maucam{
	background: #996c00;
}

/**Bài tập 02**/

#main .main-box div.items{
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 270px;


}

#main .main-box div.items a{
	text-decoration: none;
}

#main .main-box div.items a h3{
	font-family: sans-serif;
	font-size:  15px;
	color:  gray;
	margin-top: 5px;
}
#main .main-box div.items a img{
	width: 250px;
	height: 250px;
}
#main .main-box div.items a .meta p{
	display: inline-block;
	font-size:  16pt;

}
#main .main-box div.items a .meta p.price{
	margin-top: 10px;
	font-weight: bold;
	color:  #333;
	
}
#main .main-box div.items a .meta p.sale{
	font-size:  12px;
	margin-left: 5px;
}

#main .main-box div.items a  p.prev-price{
	font-size:  12px;
	margin-top:  5px;
	text-decoration: line-through;
}
